<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
  <title>Tic-Tac-Toe-GUI</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Tic-Tac-Toe</h1>
  <form>
    <label for="numPlayers">How many players?: </label>
    <input type="number" id="numPlayers" name="numPlayers" min="1" max="2" required>
    <br>
    <label for="p1">Player 1 is: </label>
    <input type="text" id="p1" name="p1" required>
    <br>
    <label for="p2">Player 2 is: </label>
    <input type="text" id="p2" name="p2" required>
    <br>
    <input type="submit" value="Let's Play!">
  </form>
</body>
</html>